<%= form_for([@student, @student.accepts.new]) do |f| %>
  <%= f.hidden_field :student_id, value: @student.id %>
  <div class="form-group">
    <%= f.collection_select(:job_id, @student.jobs, :id, :job_title, {class: 'form-control'}) %>
  </div>
  <div class="form-group">
    <%= f.submit 'Hire This Student', class: 'btn btn-green' %>
  </div>
<% end %>
