<% provide(:title, "Edit Job") %>

<div class="container margin-top margin-bottom">
  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-green">
        <div class="panel-heading text-center">
          <h2>Edit Job</h2>
        </div>

        <div class="panel-body">
          <%= render 'form' %>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <%= render 'layouts/companysidebar' %>
    </div>
  </div>
</div>
