<% provide(:title, "About us") %>

<div class="green-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">About bercareer</h1>
      </div>
    </div>

    <hr class="white-divider">

    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <p class="headline">
          Bercareer adalah sebuah situs job-match making khusus mahasiswa Indonesia.
          Bercareer akan membantu mahasiswa untuk scale up their career dengan bekerja
          di perusahaan-perusahan terbaik di Indonesia dan membantu perusahaan untuk
          mendapatkan kandidat yang dapat diandalkan.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="white-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">Our team</h1>
        <hr class="gray-divider">
        <div class="col-md-8 col-md-offset-2">
          <p class="headline">
            From student to student. We understand how hard it is to find internship
            or place to work which suits our passion so that's why we build this platform.
          </p>
        </div>
      </div>
    </div>

    <div class="small-gap"></div>
    
    <div class="row">
      <div class="col-md-6">
        <%= image_tag('team/lutfi.png', width: '40%', class: 'img-circle') %>
        <h3 class="bold">Moch Lutfi Fauzi</h3>
        <h4>Chief Executive Officer</h4>
      </div>

      <div class="col-md-6">
        <%= image_tag('team/arief.jpg', width: '40%', class: 'img-circle') %>
        <h3 class="bold">Arief R Ramadhan</h3>
        <h4>Chief Technology Officer</h4>
      </div>
    </div>
  </div>
</div>
