<% provide(:title, "Employers") %>

<div class="company-head">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="company-message">
          <h1>Scale up <span class="white">your team</span> today</h1>
          <hr class="intro-divider">
          <h4 class="white">Temukan talenta-talenta terbaik untuk menjadi intern atau bagian dalam timmu.</h4>
          <div class="small-gap"></div>
          <%= link_to 'Get Started', new_company_registration_path, class: 'btn btn-lg btn-green' %>
        </div>

      </div>
    </div>
  </div>
</div>
