<div class="green-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">Feel free to hit us up!</h1>
      </div>
    </div>
  </div>
</div>

<div class="white-background padding-top padding-bottom">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        
      </div>

      <div class="col-md-6">

      </div>
    </div>
  </div>
</div>
