<% provide(:title, "Message sent") %>

<div class="green-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 class="bold">Message sent!</h1>
      </div>
    </div>
  </div>
</div>

<div class="white-background padding-top padding-bottom text-center">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2 class="bold">Thank you for the message, we will be in touch
           as soon as possible.</h2>
      </div>
    </div>
  </div>
</div>
