<div class="container margin-top margin-bottom">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-green">
      <div class="panel-heading">
        <h3><strong>Give Feedback</strong></h3>
      </div>

      <div class="panel-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
